* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: black;
}
.dark{
    background-color: white;
    color: black;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    display: flex;
}

li {

    padding: 16px 18px;
    font-size: 20px;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

h1 {

    color: white;
    margin: 5px 175px;
    padding: 6px 22px;

}

.btn {
    background-color: rgb(255, 191, 16);
    color: white;
    box-shadow: 0.3px 0.3px rgb(255, 191, 16);
    margin: 2px 19px;
    padding: 6px 13px;
    border-radius: 17px;
    cursor: pointer;
}

a:hover {
    background-color: #fff;
    border-radius: 7px;
    color: rgb(22, 7, 36);
}

.mainSection {
    display: grid;
    padding: 10px 30px;
    grid-template-columns: 1fr 1fr;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 28px;
}

.name {
    font-size: 50px;
    color: rgb(255, 191, 16);
}

.description {
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

img {
    border-radius: 50%;
}

.social {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    list-style: none;
    margin-top: 20px;
    font-size: 20px;

}

.social li {
    cursor: pointer;
    transition: all 0.2s;
}

.social li:hover {
    color: rgb(15, 136, 184);
    transform: scale(1.12);
}

.hireBtn {
    background-color: rgb(255, 191, 16);
    color: white;
    box-shadow: 0.3px 0.3px #ffbf10;
    margin: 2px 19px;
    padding: 6px 13px;
    border-radius: 17px;
    cursor: pointer;
}

.project {
    text-align: center;
    color: #fff;
}

.port {
    text-align: center;
    color: #ffbf10;
}

.container {
    display: flex;
    justify-content: space-around;
}

.box {
    border-radius: 15px;
    background-color: rgb(114, 112, 112);
    color: #fff;
    width: 170px;
    height: 180px;
    padding: 18px 14px;
    margin: 7px 11px;
    text-align: center;

}

.view {
    margin: 14px 15px;
    padding: 5px 12px;
    background-color: rgb(17, 17, 17);
    color: #fff;
    border-radius: 15px;
}

.view:hover {
    transform: scale(1, 1.3);
    border: 0.5px solid cyan;
}

.line {
    font-size: 50px;
}

.ye {
    color: #ffbf10;
}

.lect {
    text-align: center;
    border: 4px solid rgb(196, 185, 185);
    border-radius: 4px;
    width: 500px;
    height: 150px;
    background-color: rgb(27, 26, 26);
    color: #fff;
    padding: 12px 20px;
    margin: 4px 411px;
    border-radius: 7px;
}

.edu {
    color: #ffbf10;
}

.Visit {
    padding: 4px 17px;
    margin: 3px 9px;
    background-color: ghostwhite;
    border-radius: 14px;
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content: space-around;
}

.cn1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2px 2px;
    margin: 2px 2px;

}

.get {
    color: #fff;
    font-size: 45px;
    font-weight: bolder;

}

.me {
    color: #ffbf10;
    font-size: 35px;
    font-weight: bold;
}

input {
    color: black;
    width: 350px;
    padding: 6px 12px;
    margin: 11px 12px;
    border: 2px solid yellow;
    border-radius: 8px;

}

textarea {
    width: 350px;
    padding: 6px 12px;
    margin: 11px 12px;
    border: 2px solid yellow;
    border-radius: 8px;
}

.send {
  cursor: pointer;
    background-color: #ffbf10;
    color: #fff;
    border-radius: 14px;
    width: 60px;
    height: 35px;
    margin: 13px 157px;
    padding: 4px 2px;
    box-shadow: #ffbf10;
}
.send:hover{
    transform: scale(1, 1.3);
}
.email{
    color: #fff;

}
footer{
    display: flex;

    justify-content:center ;
    text-align: center;
    background-color: #ffbf10;
    border-top-radius: semi;
}
.foot{
    padding: 34px 10px;
    margin: 26px -159px;

}
.foot>img:hover{
    transform: scale(1.12);

}
.company{
    display: flex;
}

.com{
   
    width:400px ;
    height: 250px;
    padding: 14px 12px;
    margin: 12px 19px;
}
.work{
    color: #fff;
    font-weight: bolder;
    font-size:35px ;
}
.brand{
    color: #ffbf10;
    font-weight: bold;
    font-size: 30px;
}
.para{
    color: #fff;
}
.imge{
    border-radius: 10%;

}
.com1:hover{
    cursor: pointer;
    transform: skew(5deg);
}